@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body{
    display: flex;
    justify-content: space-between;
    font-family: "Bahnschrift";

    margin: 0px;
}

header{
    background-color: white;
    width: 20%;
}

#Header_Logo{
    width: 50px;
    height: 50px;
}

main{   
    background-color: #202020;

    width: 80%;
}

footer{
    background-color: white;
}

/* Web Components */

/* Classes */

#Sidebar_Wrapper{
    width: 200px;
    padding: 10px;
}

/* Menu */

#Header_Home {
    position: fixed;
}

#Header_Title {
    display: flex;
}

#Sidebar_MainMenu{
    width: 250px;
}

#Sidebar_ButtonWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.SideBar_Button_Icon {
    color: white;
    background-color: #303030;
    padding: 5px;
    border-width: 0;
    border-radius: 5px;
    margin: 2px;
}

.Sidebar_Button {
    background-color: #ffffff00;
    border-width: 0;
}

.Sidebar_Button_Label {
    font-size: 20px;
    font-weight: 600;
}

/* Footer */

#Footer{
    background-color: #303030;
    color: #686868;
    padding: 20px;
}

/* Articles */

/* Core Main */

#MainGrid{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 130px);
    gap: 40px;
    padding: 50px;

    justify-content: center;
}

#SubGrid{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(6, 120px);
    gap: 40px;
    padding: 50px;

    justify-content: center;
}

.Core{
    border-radius: 15px;
    transition: all 0.3s;
    padding: 25px;
}

.Core:hover{
    transform: scale(1.02);
}

/* 
.Core_1x1{
    Empty
}
*/

.Core_2x1{
    grid-column: span 2;
}

.Core_1x2{
    grid-row: span 2;
}

.Core_2x2{
    grid-column: span 2;
    grid-row: span 2;

    padding: 25px;
}

.C_White{
    background-color: #ffffff;
}

.C_Gray{
    background-color: #404040;
}

.C_Yellow{
    background-color: #ffbd59;
}

/* Subsidiary Cores */
